  body {
    background: linear-gradient(to bottom, antiquewhite 40%, floralwhite); /* Apply gradient background */
    min-height: 100vh; /* Ensure gradient covers the entire height of the viewport */
    margin: 0; /* Reset default margin */
  }

  h2 {
    text-align: left; /* Center-align the text */
    font-family: "Arial", sans-serif; /* Choose a suitable font */
    font-size: 2.5em; /* Adjust font size */
    color: #333; /* Text color for contrast */
    margin: 50px 0; /* Add space around the header */
    text-shadow: 1px 1px 2px #ccc; /* Add a subtle shadow */
    margin: 30px;
  }

  h3 {
    font-family: "Arial", sans-serif; 
    font-size: 1em; 
    color: #333; 
    margin: 30px 0; 
    text-shadow: 1px 1px 2px #ccc; 
    margin: 30px;
}
ul{ line-height:2;
    margin: 30px; }

  form {
    max-width: 500px; /* Increased the max-width for a wider form */
    margin: 20px auto;
    padding: 20px;
    background-color: #faebd7; color: #29242a;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  label {
    display: block;
    margin-bottom: 8px;
    color: #555;
  }

  input, textarea, select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }

  button {
    background-color: #4caf50;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #45a049;
  }

  @media screen and (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }
  }