body {
    background: linear-gradient(to bottom, antiquewhite 40%, floralwhite); /* Apply gradient background */
    min-height: 100vh; /* Ensure gradient covers the entire height of the viewport */
    margin: 0; /* Reset default margin */
  }
  
 h1 {  text-align: left; /* Center-align the text */
    font-family: "Arial", sans-serif; /* Choose a suitable font */
    font-size: 2.5em; /* Adjust font size */
    color: #333; /* Text color for contrast */
    margin: 50px 0; /* Add space around the header */
    text-shadow: 1px 1px 2px #ccc; /* Add a subtle shadow */
    margin: 30px;   }

h3 {
    font-family: "Arial", sans-serif; 
    font-size: 1em; 
    color: #333; 
    margin: 30px 0; 
    text-shadow: 1px 1px 2px #ccc; 
    margin: 30px;
    }

/* Other styles remain the same */


.custom-nav {
    margin: 20px;
}

.custom-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.custom-li {
    background: linear-gradient(to bottom, #faebd7, antiquewhite);
    border: 1px solid #ddd;
    margin-bottom: 10px;
    text-align: left;
    max-width: 200px;
    margin: 25px 20px 20px 50px;
    border-radius: 8px;
}

.custom-link {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: #333;
    width: 100%;
}

.custom-link:hover {
    background-color: #ddd;
}

.custom-add-btn {
    display: block;
    margin: 20px 20px 20px 50px;
    padding: 10px 20px;
    max-width: 200px;
    background-color: #4caf50;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
}

.custom-add-btn:hover {
    background-color: #45a049;
}
      