

body {background-color:antiquewhite }

h1{ color:cadetblue }

ul{
    line-height:2;
    margin: 30px;   
}


/* details and models separated each part*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
}

.models,
.details {
    width: 48%; /
}

.models-list,
.details-list {
    list-style: none;
    padding: 0;
}

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }

    .models,
    .details {
        width: 100%;
        margin-bottom: 20px;
    }
}



/* Resetting link styles */
.models-list a,
.details-list a {
    color: inherit; /* Use the default text color */
    text-decoration: none; /* Remove underline */
}

/* Style links when hovered */
.models-list a:hover,
.details-list a:hover {
    color: #FFA500; /* Change color on hover */
}

