

body {background: linear-gradient(to bottom, antiquewhite 40%, floralwhite); /* Apply gradient background */
    min-height: 100vh; /* Ensure gradient covers the entire height of the viewport */
    margin: 0; /* Reset default margin */ }

h1{  text-align: left; /* Center-align the text */
    font-family: "Arial", sans-serif; /* Choose a suitable font */
    font-size: 2.5em; /* Adjust font size */
    color: #333; /* Text color for contrast */
    margin: 50px 0; /* Add space around the header */
    text-shadow: 1px 1px 2px #ccc; /* Add a subtle shadow */
    margin: 30px;   }
h3 {
    font-family: "Arial", sans-serif; 
    font-size: 1em; 
    color: #333; 
    margin: 30px 0; 
    text-shadow: 1px 1px 2px #ccc; 
    margin: 30px;
}
ul{ line-height:2;
    margin: 30px; }

.search-container {
    font-family: "Arial", sans-serif; 
    font-size: 1em; 
    color: #333;  
    text-shadow: 1px 1px 2px #ccc; 


}


.models {
    font-size: 1.1em; 
    margin: 30px;
    width: 48%; /
    
}

.models-list {
    list-style: none;
    padding: 0;
}

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }

    .models {
        width: 100%;
        margin-bottom: 20px;
    }
}



/* Resetting link styles */
.models-list a,
.details-list a {
    color: inherit; /* Use the default text color */
    text-decoration: none; /* Remove underline */
}

/* Style links when hovered */
.models-list a:hover,
.details-list a:hover {
    color: #FFA500; /* Change color on hover */
}



/* Style for the form container */
.form-container {
    display: flex;
    flex-wrap: wrap;
}

.form-container p {
    flex: 0 0 30%; /* Three columns, adjust as needed */
    margin: 10px; /* Add space between fields */
}

form {
    max-width: 500px; /* Increased the max-width for a wider form */
    margin: 20px auto;
    padding: 20px;
    background-color: #faebd7; color: #29242a;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }