<!-- BEGIN: /c:/Users/Omer/OneDrive/Masaüstü/databse-proje/SE307/thesis/templates/header.html -->

<header>
    <div style="background-color: #faebd7;">
        <div style="display: flex; align-items: center;">
            <h3 style="margin-right: 10px;">Thesis app</a></h3>
            <nav style="background-color: #aeaeae; padding: 10px;">
                <ul style="list-style-type: none; margin: 0; padding: 0; display: flex;">
                    <li style="margin-right: 10px;"><a href="{% url 'thesis:main' %}">Home</a></li>
                    <li><a href="{% url 'thesis:search' %}">Search</a></li>
                    <li><a href="{%url 'thesis:thesis_add'}"></a></li>
                    <!-- add edit page to links maybe -->
                </ul>
            </nav>
        </div>
    </div>
</header>
<!-- END: /c:/Users/Omer/OneDrive/Masaüstü/databse-proje/SE307/thesis/templates/header.html -->
