{% include "header.html"%}
<!DOCTYPE html>
<html>
<head>
    <title>Subject List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/list2.css' %}"> 
</head>
<body>
    <h1>Institute List</h1>
    <h3> Click the item you want to see details about </h3>
    <nav class="custom-nav">
        <ul class="custom-ul">
        {% for institute in object_list %}
        <li class="custom-li"><a href="{% url 'thesis:institute-detail' pk=institute.pk %}" class="custom-link">{{ institute }}</a></li>
        {% endfor %}
    </ul>
</nav>
    <a href="{% url 'thesis:institute_create' %}" class="custom-add-btn">Add Institute</a>
</body>
</html>
