<!--WILL NOT BE USED-->

{% include "header.html"%}
<!DOCTYPE html>
<html> 
<head>
    <title>Institute List</title>  
</head>
<body>
    <h1>Institute List</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>University</th>
        </tr>
        {% for institute in object_list %}
            <tr>
                <td>{{ institute.institute_id }}</td>
                <td><a href="{% url 'thesis:institute-detail' pk=institute.pk %}">{{ institute.name }}</a></td>
                <td>{{ institute.university.name }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
