{% include "header.html"%}

<!DOCTYPE html>
<html>
<head>
    <title>Institute Detail</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
</head>
<body>
    <h1>Institute Detail</h1>
    <ul class="custom-ul">
    <li class="custom-li"><strong>Name: </strong>{{ object }}</li>
    </ul>
</body>
    <a href="{% url 'thesis:institute_update' pk=object.institute_id %}" class="custom-link">Edit Institute</a>
    <a href="{% url 'thesis:institute_delete' pk=object.institute_id %}" class="custom-link">Delete Institute</a>
</html>