{% include "header.html"%}

<!DOCTYPE html>
<html>
<head>
    <title>Language Detail</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
</head>
<body>
    <h1>Language Detail</h1>
    <ul class="custom-ul">
    <li class="custom-li"><strong>Name: </strong>{{ object.language_name }}</li>
    </ul>
</body>
    <a href="{% url 'thesis:language_update' pk=object.language_id %}" class="custom-link">Edit Language</a>
    <a href="{% url 'thesis:language_delete' pk=object.language_id %}" class="custom-link">Delete Language</a>
</html>
