
{% include "header.html"%}

<!DOCTYPE html>
<html>
<head>
    <title>Person Detail</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
</head>
<body>
    <h1>Person Detail</h1>
    <ul class="custom-ul">
    <li class="custom-li"><strong>Name: </strong>{{ object.name }} </li>
    <li class="custom-li"><strong>Surname: </strong>{{ object.surname }}</li>
    <li class="custom-li"><strong>Birth Date: </strong>{{ object.birth_date }}</li>
    </ul>
</body>
    <a href="{% url 'thesis:person_edit' pk=object.person_id %}" class="custom-link">Edit Person</a>
    <a href="{% url 'thesis:person_delete' pk=object.person_id %}" class="custom-link">Delete Person</a>
</html>