
{% include "header.html"%}
<!DOCTYPE html>
<html>
<head>
    <title>Subject List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/list.css' %}"> 
</head>
<body>
    <h1>Subject List</h1>
    <h3> Click the item you want to see details about </h3>
    <ul>
        {% for subject in object_list %}
            <li><a href="{% url 'thesis:subject-detail' pk=subject.pk %}">{{ subject.topic }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'thesis:subject_create' %}" class="add-btn">Add Subject</a>
</body>
</html>