{% include "header.html"%}

<!DOCTYPE html>
<html>
<head>
    <title>Thesis List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/list2.css' %}"> 
</head>
<body>
    <h1>Thesis List</h1>
    <h3> Click the item you want to see details about </h3>
    <nav class="custom-nav">
    <ul class="custom-ul">
        {% for thesis in object_list %}
            <li class="custom-li"><a href="{% url 'thesis:thesis-detail' pk=thesis.pk %}" class="custom-link">{{ thesis.title }}</a></li>
        {% endfor %}
    </ul>
    </nav>
    <a href="{% url 'thesis:thesis_add' %}" class="custom-add-btn">Add Thesis</a>
</body>
</html>