{% include "header.html"%}

<!DOCTYPE html>
<html>
<head>
    <title>Thesis List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/list.css' %}"> 
</head>
<body>
    <h1>Thesis List</h1>
    <h3> Click the item you want to see details about </h3>
    <ul>
        {% for thesis in object_list %}
            <li><a href="{% url 'thesis:thesis-detail' pk=thesis.pk %}">{{ thesis.title }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'thesis:thesis_add' %}" class="add-btn">Add Thesis</a>
</body>
</html>