{% load static %}
{% include "header.html" %}

<style>
  body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
  }

  h2 {
    color: #007bff;
    margin-bottom: 20px;
  }

  form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  label {
    display: block;
    margin-bottom: 8px;
    color: #333;
  }

  input, select {
    width: calc(100% - 12px);
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  button {
    background-color: #007bff;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    background-color: #0056b3;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

</style>

{% block content %}
  <h2>{% if form.instance.pk %}Edit Thesis{% else %}Add Thesis{% endif %}</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>
{% endblock %}