{% include "header.html"%}
<!DOCTYPE html>
<html>
<head>
    <title>Thesis Information</title>
</head>
<body>

<h1>Thesis Information</h1>
<ul>
    <li><strong>Thesis Number:</strong> {{ object.thesis_no }}</li>
    <li><strong>Title:</strong> {{ object.title }}</li>
    <li><strong>Abstract:</strong> {{ object.abstract }}</li>
    <li><strong>Author:</strong> {{ object.author }}</li>
    <li><strong>Year:</strong> {{ object.year }}</li>
    <li><strong>Type:</strong> {{ object.type }}</li>
    <li><strong>University:</strong> {{ object.university }}</li>
    <li><strong>Institute:</strong> {{ object.institute }}</li>
    <li><strong>Number of Pages:</strong> {{ object.number_of_pages }}</li>
    <li><strong>Language:</strong> {{ object.language }}</li>
    <li><strong>Supervisor:</strong> {{ object.superviser }}</li>
    <li><strong>Cosuperviser:</strong> 
        {% if object.cosuperviser %}
            {{ object.cosuperviser|join:", " }}
        {% else %}
            -
        {% endif %}
    </li>
    <li><strong>Submission Date:</strong> {{ object.submission_date }}</li>
    <li><strong>Keywords:</strong> 
        {% if object.keywords %}
            {{ object.keywords|join:", " }}
        {% else %}
            No keywords available.
        {% endif %}
    </li>
    <li><strong>Subjects:</strong> 
        {% if object.subjects %}
            {{ object.subjects|join:", " }}
        {% else %}
            No subjects available.
        {% endif %}
    </li>
</ul>

<a href="{% url 'thesis:thesis_edit' pk=object.thesis_no %}">Edit Thesis</a>
<a href="{% url 'thesis:thesis_delete' pk=object.thesis_no %}">Delete Thesis</a>

</body>
</html>
