{% include "header.html"%}

<!DOCTYPE html>
<html>
<head>
    <title>University Detail</title>
</head>
<body>
    <h1>University Detail</h1>
    <p>Name: {{ object.name }}</p>
    <p>Establishment Year: {{ object.establishment_year }}</p>
    <p>Institutes: 
        {% if object.institutes %}
            {{ object.institutes|join:", " }}
        {% else %}
            No institute available.
        {% endif %}
    </p>
    <!-- Add more details as needed -->
</body>
    <a href="{% url 'thesis:university_update' pk=object.university_id %}">Edit University</a>
</html>